html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

#nprogress .bar {
  height: 5px;
  border-radius: 20px;
  background: linear-gradient(to right, #ffd2d200, #03aa57);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
